# Windows default autosave extension
*.asv

# OSX / *nix default autosave extension
*.m~

# Compiled MEX binaries (all platforms)
*.mex*

# Packaged app and toolbox files
*.mlappinstall
*.mltbx

# Generated helpsearch folders
helpsearch*/

# Simulink code generation folders
slprj/
sccprj/

# Matlab code generation folders
codegen/

# Simulink autosave extension
*.autosave

# Simulink cache files
*.slxc

# Octave session info
octave-workspace

# Temporary files of the game
resources/linkgame/plugin
resources/linkgame/auto_click.ini
resources/linkgame/cfgdll.dll
resources/linkgame/steps.txt
resources/process/plugin
resources/process/auto_click.ini
resources/process/cfgdll.dll
resources/process/steps.txt
